.browse-container {
  padding: 20px;

  .buttons {
    margin: 0 auto;
    font-size: 20px;
    .view-button {
      margin-left: 20px;
      display: inline-block;
      height: 20px;
      cursor: pointer;
    }
  }

  .grid-view {
    .product {
      text-decoration: none;
      color: black;
      cursor: pointer;
      display: inline-block;
      width: 38%;
      text-align: center;
      margin: 20px;
      .name {
        font-size: 20px;
      }

      .price {
        font-size: 15px;
      }

      img {
        width: 100%;
      }
    }
  }

  .list-view {
    display: flex;
    flex-direction: column;
    .product {
      text-decoration: none;
      color: black;
      margin-bottom: 20px;
      cursor: pointer;
      height: 100px;
      img {
        width: 40%;
        float: left;
      }
    }
  }

  .single-view {
    .product {
      text-decoration: none;
      color: black;
      text-align: center;
      cursor: pointer;
      width: 100%;
      margin-bottom: 30px;

      img {
        width: 80%;
      }
    }
  }
}