.cart-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  .added-item {
    background-color: #f1f1f1;
    width: 100%;
    img {
      width: 40%;
      float: left;
    }

    i {
      margin: 5px;
      cursor: pointer;
    }
    .amount-buttons {
      font-size: 20px;
    }
  }

  .shipping-container {
     /* Customize the label (the container) */
     z-index: 0;
    .shipping {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 17px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .shipping input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      border-radius: 4px;
      border: 1px solid black;
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .shipping:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .shipping input:checked ~ .checkmark {
      background-color: color(primary);
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .shipping input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .shipping .checkmark:after {
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    } 
  }
}

@include desktop {
  .cart-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .added-item {
      background-color: color(accent);
      width: 100%;
      max-height: 200px;
      img {
        width: 20%;
      }
    }
    .paypal {
      margin: 0 auto;
      width: 300px;
    }
  }
}