.footer-container {
  margin-top: 30px;
  margin-bottom: 20px;
  hr {
    width: 80%;
  }
  background-color: color(accent);
  text-align: center;

  .newsletter {
    margin-left: 40px;
    margin-right: 40px;

    .title {
      font-size: 15px;
    }
    p {
      font-size: 13px;
    }
    input[type=email] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
      background-color: color(primary);
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      width: 100%;
      cursor: pointer;
      transition: 0.2s all;
    }

    input[type=submit]:hover {
      background-color: color(primary-dark);
    }
  }

  .socials {
    .icon {
      margin: 10px;
      font-size: 30px;
      cursor: pointer;
    }
  }
}