.home-container {
  text-align: center;

  .image-container {
    z-index: -1;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    color: white;

    img {
      width: 100%;
      filter: brightness(40%);
    }

    .home-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .title {
        font-size: 25px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .browse-button {
    margin: 0 auto;
    text-decoration: none;
    background-color: color(primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    transition: 0.2s all;
  }

  .browse-button:hover {
    background-color: color(primary-dark);
  }

  @include desktop {
    .image-container {
      z-index: 0;
      max-height: 500px;
      width: 100%;
      overflow: hidden;
    }

    .browse-button {
      padding: 20px 20px;
      width: 400px;
      font-size: 30px;
    }
  }
}