@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar-container {
  z-index: 1;
  width: 100%;
  height: 55px;
  background-color: color(accent);
  text-align: center;

  .navbar {  
    .nav-button {
      -webkit-appearance: none;
      cursor: pointer;
      z-index: 1;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .nav-items {
      display: none;
    }

    .nav-logo {
      font-size: 25px;
      padding-top: 10px;      
    }

    .nav-cart {
      position: absolute;
      right: 20px;
      top: 10px;
    }

    .nav-cart-items {
      position: absolute;
      color: white;
      top: 5px;
      right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: color(primary);
      text-align: center;
    }
  }

  .navbar.responsive {
    z-index: 1000;
    .nav-button {
      position: fixed;
    }
    .nav-items {
      padding-top: 50px;
      display: block;
      animation: 0.2s ease-out 0s 1 slideInFromLeft;
      position: fixed;
      width: 60%;
      height: 100vh;
      background-color: #222222;
      text-align: left;

      a {
        text-decoration: none;
      }

      .nav-item {
        font-size: 20px;
        margin: 20px;
        color: white;
        
        i {
          margin: 5px;
        }
      }
    }
  }
}


