.product-container {
  width: 100%;
  text-align: center;
  img {
    width: 100%;
  }

  .info {
    margin: 40px;
    .title {
      font-size: 25px;
    }

    .desc {
      text-align: left;
      font-size: 15px;
    }

    .price {
      font-size: 20px;
    }

    .add-button {
      margin: 0 auto;  
      text-decoration: none;
      background-color: color(primary);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      width: 100px;
      cursor: pointer;
      transition: 0.2s all; 
    }

    .add-button:hover {
      background-color: color(primary-dark);
    }
  }
}