$colors: (
  primary: #5C80BC,
  primary-light: lighten(#5C80BC, 40%),
  primary-dark: darken(#5C80BC, 40%),
  secondary: #4D5061,
  accent: #f8f8f8,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin desktop {
  @media (min-width: 840px) {
    @content;
  }
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}